In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy.optimize import curve_fit, OptimizeWarning
from tqdm import tqdm
import warnings

sns.set_theme()
sns.set_context("notebook")
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
dtype_dict = {
    'FarmName_Pseudo': 'str',
    'SE_Number': 'str',
    'AnimalNumber': 'Int64',          
    'StartDate': 'str',
    'StartTime': 'str',
    'DateTime': 'str',
    'LactationNumber': 'Int64',       
    'DaysInMilk': 'Int64', 
    'YearSeason': 'str',           
    'TotalYield': 'float',
    'DateTime': 'str',
    'BreedName': 'str',
    'Age': 'Int64',
    'Mother': 'str',
    'Father': 'str',
    'CullDecisionDate': 'str',
    'Temperature': 'float',
    'RelativeHumidity': 'float',      
    'THI_adj': 'float',
    'HW': 'Int64',                    
    'cum_HW': 'Int64',                
    'Temp15Threshold': 'Int64'        
}


# Load the CSV with specified dtypes
data = pd.read_csv('../Data/MergedData/CleanedYieldData.csv', dtype=dtype_dict)

# Convert date and time columns back to datetime and time objects
data['DateTime'] = pd.to_datetime(data['DateTime'], errors='coerce')
data['StartTime'] = pd.to_datetime(data['StartTime'], format='%H:%M:%S', errors='coerce').dt.time
data['StartDate'] = pd.to_datetime(data['StartDate'], errors='coerce')
data['CullDecisionDate'] = pd.to_datetime(data['CullDecisionDate'], errors='coerce')
data['DateTime'] = pd.to_datetime(data['DateTime'], errors='coerce')
data.head()

,FarmName_Pseudo,SE_Number,AnimalNumber,StartDate,StartTime,LactationNumber,DaysInMilk,TotalYield,DateTime,YearSeason,...,Mother,Father,CullDecisionDate,Temperature,RelativeHumidity,THI_adj,HW,cum_HW,Temp15Threshold,Age
0,a624fb9a,SE-064c0cec-1189,5189,2022-01-01,06:25:00,7,191,13.90,2022-01-01 06:25:00,2022-1,...,NaN,NaN,2022-12-20,-3.025000,0.930917,28.012944,0,0,0,3095
1,a624fb9a,SE-064c0cec-1189,5189,2022-01-01,16:41:00,7,191,16.87,2022-01-01 16:41:00,2022-1,...,NaN,NaN,2022-12-20,-3.025000,0.930917,28.012944,0,0,0,3095
2,a624fb9a,SE-064c0cec-1189,5189,2022-01-02,15:29:00,7,192,20.41,2022-01-02 15:29:00,2022-1,...,NaN,NaN,2022-12-20,-0.279167,0.990542,32.898193,0,0,0,3096
3,a624fb9a,SE-064c0cec-1189,5189,2022-01-02,03:31:00,7,192,16.28,2022-01-02 03:31:00,2022-1,...,NaN,NaN,2022-12-20,-0.279167,0.990542,32.898193,0,0,0,3096
4,a624fb9a,SE-064c0cec-1189,5189,2022-01-02,22:44:00,7,192,11.53,2022-01-02 22:44:00,2022-1,...,NaN,NaN,2022-12-20,-0.279167,0.990542,32.898193,0,0,0,3096

In [9]:
# Calculate the DailyYield for each cow each day
data['DailyYield'] = data.groupby(['SE_Number', 'StartDate'])['TotalYield'].transform('sum')

# Sort the data by AnimalNumber and StartDate
data.sort_values(['AnimalNumber', 'StartDate'], inplace=True)

# Calculate the previous day's total yield for each cow
data['PreviousDailyYield'] = data.groupby('AnimalNumber')['DailyYield'].shift(1)

# Calculate the daily yield change for each cow
data['DailyYieldChange'] = data['DailyYield'] - data['PreviousDailyYield']

# Group and aggregate data
data = data.groupby(['SE_Number', 'FarmName_Pseudo', 'StartDate']).agg({
    'DailyYield': 'first',
    'PreviousDailyYield': 'first',
    'DailyYieldChange': 'first',
    'HW': 'max',
    'Temperature': 'mean',
    'THI_adj': 'mean',
    'DaysInMilk': 'first',
    'YearSeason': 'first',
    'cum_HW': 'max',
    'Temp15Threshold': 'max',
    'Age': 'first',
    'BreedName': 'first',
    'LactationNumber': 'first'
}).reset_index()

# Renaming and formatting
data.rename(columns={
    'Temperature': 'MeanTemperature',
    'THI_adj': 'MeanTHI_adj',
    'StartDate': 'Date'
}, inplace=True)
data['Date'] = pd.to_datetime(data['Date'])

# Display the first few rows of the transformed data
data.head()

,SE_Number,FarmName_Pseudo,Date,DailyYield,PreviousDailyYield,DailyYieldChange,HW,MeanTemperature,MeanTHI_adj,DaysInMilk,YearSeason,cum_HW,Temp15Threshold,Age,BreedName,LactationNumber
0,SE-064c0cec-1189,a624fb9a,2022-01-01,30.77,30.77,0.00,0,-3.025000,28.012944,191,2022-1,0,0,3095,02 SLB,7
1,SE-064c0cec-1189,a624fb9a,2022-01-02,48.22,30.77,17.45,0,-0.279167,32.898193,192,2022-1,0,0,3096,02 SLB,7
2,SE-064c0cec-1189,a624fb9a,2022-01-03,30.53,48.22,-17.69,0,2.033333,36.760487,193,2022-1,0,0,3097,02 SLB,7
3,SE-064c0cec-1189,a624fb9a,2022-01-04,42.26,30.53,11.73,0,0.066667,31.939524,194,2022-1,0,0,3098,02 SLB,7
4,SE-064c0cec-1189,a624fb9a,2022-01-05,38.49,42.26,-3.77,0,-3.700000,26.498206,195,2022-1,0,0,3099,02 SLB,7

In [10]:
# Check if DailyYield is centered around approx the same for each farm
print("Mean of DailyYield:", data.groupby('FarmName_Pseudo')['DailyYield'].mean())
print("Standard Deviation of DailyYield:", data.groupby('FarmName_Pseudo')['DailyYield'].std())

Mean of DailyYield: FarmName_Pseudo
5c06d92d    37.389675
752efd72    31.151716
a624fb9a    33.413694
f454e660    30.485127
Name: DailyYield, dtype: float64
Standard Deviation of DailyYield: FarmName_Pseudo
5c06d92d     9.960240
752efd72     7.799288
a624fb9a    11.050811
f454e660    11.833056
Name: DailyYield, dtype: float64

## Wilmink Lactation Curve
$$
Y(t) = a + bt + c \exp(-dt)
$$
- \(Y(t)\): Milk yield at time \(t\) post-calving, so t = DaysInMilk
- \(a\): Intercept, representing baseline milk yield
- \(b\): Linear increase rate of milk yield over time
- \(c\): Initial exponential increase in milk yield
- \(d\): Rate at which the exponential increase declines over time

The Wilmink model captures the lactation curve by considering both linear and exponential components, providing a flexible representation of milk production dynamics over the lactation period.

In [11]:
# Define the Wilmink Lactation Curve function
def wilmink_lactation_curve(dim, a, b, c, d):
    dim = np.array(dim, dtype=float)
    return a + b * dim + c * np.exp(-d * dim)

# Function to detect and remove outliers
def remove_outliers(group, threshold=3.5):
    mean = np.mean(group['DailyYield'])
    std_dev = np.std(group['DailyYield'])
    return group[(group['DailyYield'] > mean - threshold * std_dev) & (group['DailyYield'] < mean + threshold * std_dev)]

# Function to smooth the data using a rolling average
def smooth_data(group, window=5):
    group = group.copy()
    group['DailyYield'] = group['DailyYield'].rolling(window, min_periods=1).mean()
    return group

# Function to fit the Wilmink Lactation Curve to the dataset
def fit_wilmink_lactation_curve(dataset):
    # Initialize the 'ExpectedYield' column to NaN
    dataset['ExpectedYield'] = np.nan
    params_dict = {}
    
    valid_indices = []

    # Group the dataset by 'SE_Number' and 'LactationNumber' and fit the curve for each segment
    for (animal_number, lactation_number), group in tqdm(dataset.groupby(['SE_Number', 'LactationNumber']), unit=" Segments"):
        # Prepare the data for fitting
        group = remove_outliers(group, threshold=3.5)  # Remove outliers with threshold 4
        group = smooth_data(group)  # Smooth the data
        x_data = group['DaysInMilk'].values
        y_data = group['DailyYield'].values
        
        # Ensure there are no NaN or infinite values in the data
        if not np.isfinite(x_data).all() or not np.isfinite(y_data).all():
            print(f"Non-finite values found for cow {animal_number}, lactation {lactation_number}, skipping.")
            continue
        
        # Ensure there are enough data points to fit the curve
        if len(x_data) < 10 or len(y_data) < 10:
            print(f"Insufficient data points for cow {animal_number}, lactation {lactation_number}, skipping.")
            continue

        valid_indices.extend(group.index)
        
        # Fit the model
        try:
            # Initial parameter guesses
            initial_guesses = [np.mean(y_data), 0, np.mean(y_data) / 2, 0.1]
            # Bounds on the parameters to prevent overflow
            bounds = ([-np.inf, -np.inf, -np.inf, 0], [np.inf, np.inf, np.inf, np.inf])
            
            with warnings.catch_warnings():
                warnings.filterwarnings('error', category=OptimizeWarning)
                try:
                    popt, pcov = curve_fit(
                        wilmink_lactation_curve, x_data, y_data,
                        p0=initial_guesses, bounds=bounds, maxfev=30000
                    )
                    
                    # Store the parameters in the dictionary
                    params_dict[(animal_number, lactation_number)] = {'a': popt[0], 'b': popt[1], 'c': popt[2], 'd': popt[3]}
                    
                    # Predict the expected yield using the fitted model
                    dataset.loc[group.index, 'ExpectedYield'] = wilmink_lactation_curve(group['DaysInMilk'], *popt)
                    
                    # Normalize the DailyYield
                    dataset.loc[group.index, 'NormalizedDailyYield'] = group['DailyYield'] / dataset.loc[group.index, 'ExpectedYield']
                    
                    # Calculate the daily yield change and normalize it
                    dataset.loc[group.index, 'PreviousDailyYield'] = group['DailyYield'].shift(1)
                    dataset.loc[group.index, 'DailyYieldChange'] = group['DailyYield'] - dataset.loc[group.index, 'PreviousDailyYield']
                    dataset.loc[group.index, 'NormalizedDailyYieldChange'] = dataset.loc[group.index, 'DailyYieldChange'] / dataset.loc[group.index, 'ExpectedYield']
                
                except OptimizeWarning:
                    print(f"OptimizeWarning for cow {animal_number}, lactation {lactation_number}, skipping.")
            
        except RuntimeError as e:
            print(f"Curve fit failed for cow {animal_number}, lactation {lactation_number}: {e}")
        except ValueError as e:
            print(f"Value error for cow {animal_number}, lactation {lactation_number}: {e}")
    
    # Keep only valid indices
    dataset = dataset.loc[valid_indices].reset_index(drop=True)
    
    # Fill any NaN values in the newly created columns with 0
    dataset['ExpectedYield'] = dataset['ExpectedYield'].fillna(0)
    dataset['NormalizedDailyYield'] = dataset['NormalizedDailyYield'].fillna(0)
    dataset['PreviousDailyYield'] = dataset['PreviousDailyYield'].fillna(0)
    dataset['DailyYieldChange'] = dataset['DailyYieldChange'].fillna(0)
    dataset['NormalizedDailyYieldChange'] = dataset['NormalizedDailyYieldChange'].fillna(0)
    
    return dataset, params_dict

# Apply the curve fitting function to your dataset
fitted_data, params_dict = fit_wilmink_lactation_curve(data)

  4%|▍         | 102/2315 [00:06<01:52, 19.68 Segments/s]

Insufficient data points for cow SE-5c06d92d-2621, lactation 3, skipping.

  5%|▍         | 114/2315 [00:09<04:02,  9.09 Segments/s]

Insufficient data points for cow SE-5c06d92d-2639, lactation 3, skipping.

 10%|▉         | 230/2315 [00:19<03:29,  9.93 Segments/s]

Insufficient data points for cow SE-5c06d92d-2804, lactation 5, skipping.
Insufficient data points for cow SE-5c06d92d-2815, lactation 2, skipping.

 11%|█         | 247/2315 [00:22<04:20,  7.94 Segments/s]

Insufficient data points for cow SE-5c06d92d-2824, lactation 3, skipping.

 12%|█▏        | 284/2315 [00:24<01:52, 18.09 Segments/s]

Insufficient data points for cow SE-5c06d92d-2845, lactation 2, skipping.

 13%|█▎        | 290/2315 [00:25<02:29, 13.50 Segments/s]

Insufficient data points for cow SE-5c06d92d-2870, lactation 2, skipping.

 15%|█▌        | 350/2315 [00:25<00:36, 53.73 Segments/s]

Insufficient data points for cow SE-5c06d92d-2911, lactation 2, skipping.
Insufficient data points for cow SE-5c06d92d-2914, lactation 2, skipping.
Insufficient data points for cow SE-5c06d92d-2919, lactation 2, skipping.

 19%|█▊        | 433/2315 [00:35<04:12,  7.45 Segments/s]

Insufficient data points for cow SE-5c06d92d-3039, lactation 4, skipping.

 19%|█▉        | 450/2315 [00:37<04:08,  7.50 Segments/s]

Insufficient data points for cow SE-5c06d92d-3045, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3047, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3049, lactation 1, skipping.

 22%|██▏       | 519/2315 [00:38<00:37, 47.36 Segments/s]

Insufficient data points for cow SE-5c06d92d-3063, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3063, lactation 3, skipping.
Insufficient data points for cow SE-5c06d92d-3065, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3068, lactation 1, skipping.

 23%|██▎       | 532/2315 [00:38<00:46, 38.75 Segments/s]

Insufficient data points for cow SE-5c06d92d-3116, lactation 3, skipping.

 27%|██▋       | 630/2315 [00:45<02:27, 11.45 Segments/s]

Insufficient data points for cow SE-5c06d92d-3173, lactation 3, skipping.

 32%|███▏      | 738/2315 [00:49<00:32, 48.78 Segments/s]

Insufficient data points for cow SE-5c06d92d-3267, lactation 2, skipping.

 35%|███▌      | 818/2315 [00:51<00:39, 37.73 Segments/s]

Insufficient data points for cow SE-5c06d92d-3357, lactation 2, skipping.
Insufficient data points for cow SE-5c06d92d-3365, lactation 2, skipping.
Insufficient data points for cow SE-5c06d92d-3370, lactation 2, skipping.
Insufficient data points for cow SE-5c06d92d-3371, lactation 2, skipping.

 39%|███▉      | 905/2315 [00:53<00:39, 35.99 Segments/s]

Insufficient data points for cow SE-5c06d92d-3524, lactation 1, skipping.

 40%|███▉      | 917/2315 [00:54<00:47, 29.56 Segments/s]

Insufficient data points for cow SE-5c06d92d-3530, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3536, lactation 1, skipping.
Insufficient data points for cow SE-5c06d92d-3537, lactation 1, skipping.

 40%|████      | 937/2315 [00:57<01:41, 13.52 Segments/s]

Insufficient data points for cow SE-752efd72-0051, lactation 3, skipping.

 43%|████▎     | 1004/2315 [01:03<02:03, 10.64 Segments/s]

Insufficient data points for cow SE-752efd72-0117, lactation 2, skipping.

 44%|████▍     | 1013/2315 [01:04<01:44, 12.47 Segments/s]

Insufficient data points for cow SE-752efd72-0129, lactation 2, skipping.

 45%|████▌     | 1045/2315 [01:04<00:50, 25.31 Segments/s]

Insufficient data points for cow SE-752efd72-0136, lactation 2, skipping.
Insufficient data points for cow SE-752efd72-0143, lactation 2, skipping.

 46%|████▌     | 1063/2315 [01:06<01:22, 15.15 Segments/s]

Insufficient data points for cow SE-752efd72-0166, lactation 1, skipping.

 51%|█████     | 1173/2315 [01:21<01:00, 18.77 Segments/s]

Insufficient data points for cow SE-752efd72-0232, lactation 1, skipping.
Insufficient data points for cow SE-752efd72-0234, lactation 1, skipping.
Insufficient data points for cow SE-752efd72-0239, lactation 1, skipping.
Insufficient data points for cow SE-752efd72-0243, lactation 1, skipping.

 56%|█████▋    | 1305/2315 [01:32<00:46, 21.64 Segments/s]

Insufficient data points for cow SE-752efd72-0298, lactation 1, skipping.

 57%|█████▋    | 1319/2315 [01:35<01:39,  9.97 Segments/s]

Insufficient data points for cow SE-752efd72-0317, lactation 1, skipping.

 58%|█████▊    | 1339/2315 [01:37<01:35, 10.26 Segments/s]

Insufficient data points for cow SE-752efd72-0329, lactation 1, skipping.

 61%|██████▏   | 1419/2315 [01:39<00:16, 53.64 Segments/s]

Insufficient data points for cow SE-752efd72-0369, lactation 1, skipping.

 64%|██████▍   | 1490/2315 [01:41<00:27, 29.88 Segments/s]

Insufficient data points for cow SE-752efd72-0416, lactation 2, skipping.

 65%|██████▌   | 1510/2315 [01:42<00:25, 31.38 Segments/s]

Insufficient data points for cow SE-752efd72-0439, lactation 2, skipping.
Insufficient data points for cow SE-752efd72-0440, lactation 2, skipping.

 66%|██████▌   | 1528/2315 [01:43<00:39, 19.96 Segments/s]

Insufficient data points for cow SE-752efd72-0446, lactation 2, skipping.

 69%|██████▉   | 1608/2315 [01:46<00:14, 47.81 Segments/s]

Insufficient data points for cow SE-752efd72-0533, lactation 1, skipping.
Insufficient data points for cow SE-752efd72-0544, lactation 1, skipping.

 71%|███████   | 1640/2315 [01:49<00:44, 15.02 Segments/s]

Insufficient data points for cow SE-752efd72-2751, lactation 5, skipping.

 72%|███████▏  | 1659/2315 [01:54<01:39,  6.61 Segments/s]

Insufficient data points for cow SE-752efd72-2794, lactation 6, skipping.

 73%|███████▎  | 1692/2315 [01:56<00:41, 15.16 Segments/s]

Insufficient data points for cow SE-752efd72-2797, lactation 3, skipping.
Insufficient data points for cow SE-7fd04cd3-679, lactation 4, skipping.
Insufficient data points for cow SE-a624fb9a-1162, lactation 7, skipping.
Insufficient data points for cow SE-a624fb9a-1200, lactation 4, skipping.

 74%|███████▎  | 1707/2315 [02:01<01:42,  5.92 Segments/s]

Insufficient data points for cow SE-a624fb9a-1251, lactation 3, skipping.

 75%|███████▌  | 1739/2315 [02:02<00:43, 13.32 Segments/s]

Insufficient data points for cow SE-a624fb9a-1267, lactation 3, skipping.

 76%|███████▌  | 1761/2315 [02:05<01:19,  6.95 Segments/s]

Insufficient data points for cow SE-a624fb9a-1312, lactation 2, skipping.

 77%|███████▋  | 1777/2315 [02:06<00:57,  9.36 Segments/s]

Insufficient data points for cow SE-a624fb9a-1330, lactation 2, skipping.
Insufficient data points for cow SE-a624fb9a-1333, lactation 1, skipping.

 79%|███████▊  | 1822/2315 [02:07<00:19, 24.72 Segments/s]

Insufficient data points for cow SE-a624fb9a-1373, lactation 1, skipping.
Insufficient data points for cow SE-a624fb9a-1374, lactation 1, skipping.

 86%|████████▌ | 1991/2315 [02:16<00:19, 16.71 Segments/s]

Insufficient data points for cow SE-f454e660-0420, lactation 5, skipping.

 87%|████████▋ | 2003/2315 [02:18<00:27, 11.21 Segments/s]

Insufficient data points for cow SE-f454e660-0451, lactation 5, skipping.

 88%|████████▊ | 2040/2315 [02:19<00:09, 30.37 Segments/s]

Insufficient data points for cow SE-f454e660-0465, lactation 2, skipping.
Insufficient data points for cow SE-f454e660-0494, lactation 2, skipping.

 89%|████████▉ | 2067/2315 [02:21<00:13, 17.90 Segments/s]

Insufficient data points for cow SE-f454e660-0545, lactation 4, skipping.
Insufficient data points for cow SE-f454e660-0551, lactation 1, skipping.
Insufficient data points for cow SE-f454e660-0559, lactation 1, skipping.

 90%|████████▉ | 2076/2315 [02:23<00:17, 13.40 Segments/s]

Insufficient data points for cow SE-f454e660-0585, lactation 1, skipping.

 93%|█████████▎| 2143/2315 [02:27<00:09, 17.32 Segments/s]

Insufficient data points for cow SE-f454e660-0713, lactation 2, skipping.
Insufficient data points for cow SE-f454e660-0717, lactation 2, skipping.

 94%|█████████▍| 2186/2315 [02:27<00:03, 39.53 Segments/s]

Insufficient data points for cow SE-f454e660-0726, lactation 2, skipping.

 96%|█████████▌| 2216/2315 [02:28<00:02, 46.45 Segments/s]

Insufficient data points for cow SE-f454e660-0829, lactation 1, skipping.

 98%|█████████▊| 2265/2315 [02:33<00:03, 13.36 Segments/s]

Insufficient data points for cow SE-f454e660-509, lactation 3, skipping.
Insufficient data points for cow SE-f454e660-510, lactation 2, skipping.

 98%|█████████▊| 2274/2315 [02:34<00:03, 12.38 Segments/s]

Insufficient data points for cow SE-f454e660-567, lactation 1, skipping.

100%|██████████| 2315/2315 [02:37<00:00, 14.68 Segments/s]

Insufficient data points for cow SE-f454e660-729, lactation 1, skipping.

In [12]:
# Check if NormalizedDailyYield is centered around 1 for each unique farm
print("Mean of NormalizedDailyYield:", data.groupby('FarmName_Pseudo')['NormalizedDailyYield'].mean())
print("Standard Deviation of NormalizedDailyYield:", data.groupby('FarmName_Pseudo')['NormalizedDailyYield'].std())

Mean of NormalizedDailyYield: FarmName_Pseudo
5c06d92d    0.999873
752efd72    1.000064
a624fb9a    1.000214
f454e660    0.999874
Name: NormalizedDailyYield, dtype: float64
Standard Deviation of NormalizedDailyYield: FarmName_Pseudo
5c06d92d    0.110106
752efd72    0.073153
a624fb9a    0.101905
f454e660    0.114833
Name: NormalizedDailyYield, dtype: float64

In [13]:
# Make a dataframe from the parameters dictionary, it should contain Se_Number, LactationNumber, a, b, c, d
params_df = pd.DataFrame(params_dict).T.reset_index()
params_df.columns = ['SE_Number', 'LactationNumber', 'a', 'b', 'c', 'd']
params_df.head(-5)

,SE_Number,LactationNumber,a,b,c,d
0,SE-064c0cec-1189,7,57.928060,-0.115252,-6.063436,17.367795
1,SE-064c0cec-1189,8,41.195196,-0.080255,-44.398922,0.159012
2,SE-30dc5787-1389,5,115.924643,-0.343237,12.205804,0.099999
3,SE-30dc5787-1389,6,52.877694,-0.084404,-32.593600,0.093018
4,SE-30dc5787-1389,7,47.551089,-0.094727,-45.321451,0.203812
...,...,...,...,...,...,...
2227,SE-f454e660-686,1,24.464747,-0.029503,-30.107339,0.322460
2228,SE-f454e660-688,1,22.360134,0.006013,-0.083601,26.265057
2229,SE-f454e660-693,1,722399.241220,-24.952569,-722371.384516,0.000035
2230,SE-f454e660-701,1,25.337203,-0.007307,4.771692,5.566311
2231,SE-f454e660-712,1,25.797342,-0.036395,-30.408853,0.134107

In [14]:
# import random

# # Select 20 random groups from the fitted_data
# random_groups = random.sample(list(fitted_data.groupby(['SE_Number', 'LactationNumber'])), 20)

# # Plot the selected random cows and lactation plots
# for (animal_number, lactation_number), group in random_groups:
#     plt.figure(figsize=(10, 6))
#     plt.scatter(group['Date'], group['DailyYield'], label='Actual Data Points', alpha=0.6)
#     plt.plot(group['Date'], group['ExpectedYield'], color='red', label='Expected Yield (Fitted)', linewidth=2)
#     plt.plot(group['Date'], group['DailyYield'], color='green', label='Actual Yield', linewidth=2, linestyle='dotted')
#     plt.title(f"Lactation Curve for Cow {animal_number}, Lactation {lactation_number}")
#     plt.xlabel('Date')
#     plt.ylabel('Yield')
#     plt.legend()
#     plt.grid(True)
#     plt.tight_layout()
#     plt.show()